.quiz-container {
  width: 100%;
  height: 100%;
  color: rgb(210, 210, 210);
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 12px;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.main-left {
  width: 100%;
  height: 100%;
}
.header-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
}
.main-right {
  width: 40%;
}
.imageCreate {
  object-fit: contain;
}
.image {
  width: 41%;
  aspect-ratio: 1/1;
}
.quiz-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.quiz-right button {
  padding: 8px 12px;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 8px;
  border: none;
}
button {
  cursor: pointer;
}
